 
  <!--
  Sierra Surveys Web Application 
  - A simple Web Application to mimic a survey creating/taking website

  Daniyal Ahmed - 301152472
  Soham Rajput - 301180583
  Joshua Soriano - 301154852
  Parth Shah - 301171805
  Mohamed Soliman - 301219444
  -->

  <!-- Bottom Nav-->
  <footer>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h6 class="display-6 navbar-text">&copy; Sierra Surveys 2021. All Rights reserved.</h1></a>
      </div>
    </nav>
  </footer>